
#header {
    background: linear-gradient(45deg,#656266,#96c9c4);
}
.header-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 5px;
}

#header-title {
    text-align: center;
    padding: 40px;
    font-family: sans-serif;
    font-size:100px;   
}
.navbar {
    font-family: Verdana;
    font-weight: bold;
    font-size:20px;
}
h2 {
    font-weight:100;
    padding-bottom:20px;
}
h3 {
    text-align:center;
    font-weight:200;
    border-bottom: 1px solid black;
    font-family:sans-serif;
}
p {
    font-family:sans-serif; 
}
ul {
    font-family:sans-serif; 
}
body {
    background: url("pattern.png")
}
a {
    text-decoration:none;
    color:black;
}
a:hover {
    text-decoration:none;
    color: #3e403e;
}
img {
    margin-top:10px;
    margin-bottom: 10px;
}
#footer {
    background: linear-gradient(45deg,#656266,#96c9c4);
}
#back-top {
    margin-top:100px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    #header-title {
      font-size:50px; 
      padding:10px; 
    }
    .navbar {
      font-size:15px;  
    }
}